@media (max-width: 350px){

#ourWedding .containWeddingIcons div .containCopy p{
	font-size: 7vw;
}

.containRsvp{
	.btn{
		font-size: 5vw;
	}
	.contain{
		p,input,label{
			font-size: 5vw;
		}
	#firstPost{

		#rsvpBottom{
	position: absolute;
	bottom: 10px;
	width: 95%;
	margin-left: -10%;

}
	#rsvpTop{
		position: absolute;
		top: 40px;
		width: 95%;
		margin-left: -10%;}
	}

}
}
}