@media (max-width: 350px){



.containRsvp{
	.contain{
		width: 60%;
	}
	#firstPost{
		width: 60%;
		p{
			font-size: 4.5vw;
		}
		#rsvpBottom{
	position: absolute;
	bottom: 10px;
	width: 95%;
	margin-left: -10%;

}
	#rsvpTop{
		position: absolute;
		top: 40px;
		width: 95%;
		margin-left: -10%;}
	}

}
}