@media (max-width: 450px){

header .containTopSvgs label{
	font-size: 8vw;
}
#married {
	margin-top: 100px;
}
#venueTitle, #containRegistry h2{
	margin: 4vh 0;
}
.containHiddenNav{
	h3{
		color:$gold;
	}
	display: block;
	.nav-wrapper{
		position: relative;
	.brand-logo{
		position: absolute;
		top: 10px;
		color: $gold;
	}
	.button-collapse{
		margin-top: -10px;
	}
	#mobile-demo {
		background-color: $blue;
		color: $gold;
		li {
			margin: 0 20px;
			border-bottom: 1px solid $red;
		a{
		font-size: 4vw;
		color: $gold;
		}
		i{
		}
		}
	}
	}
}
.containTopNav{
	display:none;
}
i{
	width: 200%;
}
header .containTopSvgs {
	margin-top: 150px;
	height: 200px;
	#bride, #groom{
		width: 49%;
	}
	#rainbow{
		display:none;
	}
}

          	.timeline{
		.timeline-item{
  p, time{
    font-size: 4.5vw;
  }
}
}
.timeline .timeline-items .timeline-item{
	width: 75%;
}

.venue .copy 
{
	.h4{
	font-size: 10vw;
	margin-top: 0px;
	}
	.p{
		font-size: 5vw;
	}
}

#ourWedding{
	.containWeddingIcons{
		div{
			width: 85%;
			
			margin-bottom: 20px;
			.containCopy {
				p{
					font-size: 6vw;
				}
			}
		}

	}
}

.containRsvp{
	.contain{
		width: 85%;
		p, input, label{
			font-size: 4.5vw;
		}
	}
	#firstPost{
		width: 85%;
		p{
			font-size: 4.5vw;
		}
		#rsvpBottom{
	position: absolute;
	bottom: 10px;
	width: 100%;
	left: 0px;

}
	#rsvpTop{
		position: absolute;
		top: 10px;
		width: 100%;
		left: 0px;}
	}

}
 .timeline .timeline-item .time{
	font-size: 4.5vw;
}

	.time:before {
    
    top: 0px;
    left: 0px;
}
.containRsvp a{
	width: 100%;
	margin: 5px 0;
}

.containRsvp .containBtns{
		display: flex; 
		flex-wrap: wrap; 
		justify-content: space-between;
		a, #justBtn{
		width: 100% ;
		margin: 5px 0;
		}
	}
}

