@media (max-width: 768px){
		section h2 {
	margin: 4vh 0 8vh;
}



header .containTopSvgs {
	margin-top: 100px;
	#bride, #groom{
		width: 40%;
	}
	#rainbow{
		display:none;
	}
}

#ourWedding{
	.containWeddingIcons{
		div{
			width: 55%;
			
			margin-bottom: 20px;
			.containCopy {
				p{
					font-size: 4.5vw;
				}
			}
		}

	}
}

.timeline::before{
	left: 15%;
}
.timeline .timeline-items .timeline-item.inverted, .timeline .timeline-items .timeline-item{
	left: 20.5%;
}
.timeline .timeline-items .timeline-item::after{
	 content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          top: -15px;
          border-radius: 100%;
          left: calc(-8.78% - 13px);
}
.timeline .timeline-items .timeline-item{
	width: 65%;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n)::before {
	border-left: 1em solid #000032;
	border-left: 1em solid transparent;
}

.timeline .timeline-items .timeline-item.normal::before {
	content: '';
width: 0;
height: 0;
position: absolute;
left: -1em;
top: 0;

	}

          	.timeline{
		.timeline-item{
  p, .time{
    font-size: 3.5vw;
  }
}
}

.timeline .timeline-items .timeline-item::before {
       content: '';
          width: 0;
          height: 0;
          position: absolute;
          left: -1em;
          top: 0;


.containRsvp{
	justify-content: center;
	.contain{
		width: 65%;
	}
	#firstPost{
		width: 65%;
		.cardInfo{
			font-size: 2.8vw;
		}
	}
}

}
.containTopNav a{
	font-size: 3.5vw;
	padding: 10px 10px;
}

.containRsvp{
			.btn{
			font-size: 3vw;
		}
	justify-content: center;
	.contain{
		width: 85%;
		p,input{
			font-size: 3vw;
		}

	}

	#firstPost{
		width: 85%;
		p{
			font-size: 3vw;
		}
	}

}

.venue{
		

			.copy{
			.h4{
			font-size: 6vw;
			margin: 2vw 0;
			}
			.p{
				font-size: 3.5vw;
			}
		}
	}

	.time:before {
    
    top: 6px;
    left: 0px;
}

#containEnvelope{
		p{

		font-size: 4.5vw;
	}
}


}

