@media (max-width: 960px){
	section h2 {
	margin: 3vh 0 6vh;
}

	.containTopNav{
  display:hidden;
  a{
    font-size: 2.3vw;
  }
}


	.venue{
		.containVenue{
		display: flex; 
	flex-wrap: wrap;
		.img{
			width: 95%;
			height: auto;
		}
		.text{
			margin-top: 2vh;
			width: 95% ;
			
		}

	}
			.copy{
			.h4{
			font-size: 5vw;
			}
			.p{
				font-size: 2.5vw;
			}
		}
	}

	.timeline{
		.timeline-item{
  p, time{
    font-size: 1.8vw;
  }
}


}

.containRsvp{
	.contain{
		width: 60%;
		p,input{
			font-size: 2.5vw;
		}
	}
	.btn{
		font-size: 2.5vw;
	}
	#firstPost{width: 60%;}
}


#ourWedding{
	.containWeddingIcons{
		div{
			width: 30%;
			
			.containCopy {
				p{
				font-size: 2.3vw;
				}
			}
		}

	}
}

}