@media (max-width: 960px){
	.venue{
		.containVenue{
		display: flex; 
	flex-wrap: wrap;
	justify-content: center;
		.img{
			width: 45%;
			height: auto;
			img{
				width:100%;
			}
		}
		.text{
			margin-top: 2vh;
			width: 90% ;
			
			img{
				width: 50%;
			}
		}

	}
			.copy{
			.h4{
			font-size: 5vw;
			}
			.p{
				font-size: 2.5vw;
			}
		}
	}
	.timeline{
		.timeline-item{
  p, time{
    font-size: 1.8vw;
  }
}


}

.containRsvp{
	.contain{
		width: 45%;
		p,input{
			font-size: 2.1vw;
		}
	}
}

#ourWedding{
	.containWeddingIcons{
		div{
			
			.containCopy {
				p{
					font-size: 1.9vw;
				}
			}
		}

	}
}

}