@media (max-width: 960px){
	.venue{
		.containVenue{
		display: flex; 
	flex-wrap: wrap;
	justify-content: center;
		.img{
			width: 100% ;
			
		}
		.text{
			margin-top: 2vh;
			width: 90% ;
		}

	}
			.copy{
			.h4{
			font-size: 5vw;
			}
			.p{
				font-size: 2.5vw;
			}
		}
	}
	.timeline{
		.timeline-item{
  p, time{
    font-size: 1.8vw;
  }
}
}





}