.containRsvp{
	display: flex; 
	flex-wrap: wrap;
	min-height: 344px;
	justify-content: center;
	#justBtn{
		margin-left: 30%;
	}
	.containBtn{
		display: flex; 
		flex-wrap: wrap; 
		justify-content: space-between;
		a{

		}
	}

	.contain{
		width: 40%;
			background-color: $blue;
	padding: 25px;
	border-radius: 25px;
	color: $gold;
	input, p{
		color: $gold;
		font-size: 1.8vw;
	}
	input:active, input:hover, input:focus{
		border-bottom: 1px solid $gold;
		box-shadow:0 1px 0 0 $gold;
	}
	}
	.name{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.nameContainer{
			width: 45%;
		}
	}
	.btn{
		background-color: $gold;
		color: $blue;
	}
}

#btmDivider{
	display: block;
	width: 100%;
}

#rsvpFirstName{
	animation-duration: 2s;
	animation-delay: 2s;

}

#firstPost{
	position: relative;
	width: 40%;
	margin: 0 auto;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	h3{
		text-align: center;
		margin-top: 50px;
	}
	#divider{	
		width: 100%;
		margin-top: 2vh
	}
	#rsvpBottom{
	position: absolute;
	bottom: 10px;
	width: 100%;
	left: 0px;

}

	#rsvpTop{
		position: absolute;
		top: 10px;
		width: 100%;
		left: 0px}
	#rsvpLeft{
		position: absolute;
		left: 10px;
		width: 100%;
	}
	#rsvpRight{
		position: absolute;
		right: 10px;
		width: 95%;
	}
	.cardInfo{
		font-size: 1.8vw;
		text-align: center;
	}
	.rsvpResponse{
		margin: 5vw 0 10vw;
	}
}

