$red: #dbb5b7;
$silver: #5b4d4d;
$gold: #ffffcd;
$blue: #000032;


@import 'header';
@import 'timelify';
@import 'ourWedding';
@import 'venue';
@import 'registry';
@import 'rsvp';
@import 'envelope';

font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: textFont;
	src: url(../../fonts/SinhalaMN.ttf);
}
.containTopSvgs{
	label{
		color: $gold;
		font-size: 3vw;

	}
	#bride,#groom,#rainbow{
		width: 25%;
		margin-top: -5%;
	}

}

body{
	font-family: textFont;
	font-weight: 100;
}

section h2 {
	margin: 2vh 0 4vh;
	color: $gold;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	background-color: $gold;
	border: 2px solid $gold;

}

	#test1:focus + label, #test2:focus + label, #test1:checked + label, #test2:checked + label{
		color: $gold;

	}
	#weird{
		bottom:27%;

	}
		.fa-paw{	
			font-size: 4vw;
			position: absolute;
			right: 47.5vw;
			background-color: $blue;
			padding: 8px;
			border-radius: 50%;
			z-index: 3;
		}
.line {
	width: 3px; 
	top: 7%;
	left: 50%;
	position: absolute;
	height: 93%; 
	margin: 0 auto;
	background-color: #fff;
}
.gold{
	background-color: $red;
	color: white;
	position: relative;
	h2{
		text-align: center;
		font-weight: 100;
		display: block;
	}
	.contentBlock{
		width: 50%;
		position: relative;
	}
	.contentRight{
		width: 50.2%;
		float: right;
	}

}
.imgContainer{
	background-color: $silver;
	width: 60%;
	height: 25%;
	margin: 0 auto;
	border: 7px solid transparent;
	img{
	width: 100%;
	}
	p{
		color: white;
		font-size: 1.6vw;
		padding: 0 20px;
	}
	
}
.blue2 {
  background-color: $blue;
  color: white;
}
.slideInLeft, .slideInRight, .wobble{
animation-duration: 2s;}

section {

	padding: 5vh 5vw;
}
#home{
height: 1vh;
}


#home {
	display:block;
	position: absolute;
	top: 0;
}

