@media (max-width: 960px) {
  section h2 {
    margin: 3vh 0 6vh; }
  .containTopNav {
    display: hidden; }
    .containTopNav a {
      font-size: 2.3vw; }
  .venue .containVenue {
    display: flex;
    flex-wrap: wrap; }
    .venue .containVenue .img {
      width: 95%;
      height: auto; }
    .venue .containVenue .text {
      margin-top: 2vh;
      width: 95%; }
  .venue .copy .h4 {
    font-size: 5vw; }
  .venue .copy .p {
    font-size: 2.5vw; }
  .timeline .timeline-item p, .timeline .timeline-item time {
    font-size: 1.8vw; }
  .containRsvp .contain {
    width: 60%; }
    .containRsvp .contain p, .containRsvp .contain input {
      font-size: 2.5vw; }
  .containRsvp .btn {
    font-size: 2.5vw; }
  .containRsvp #firstPost {
    width: 60%; }
  #ourWedding .containWeddingIcons div {
    width: 30%; }
    #ourWedding .containWeddingIcons div .containCopy p {
      font-size: 2.3vw; } }

@media (max-width: 768px) {
  section h2 {
    margin: 4vh 0 8vh; }
  header .containTopSvgs {
    margin-top: 100px; }
    header .containTopSvgs #bride, header .containTopSvgs #groom {
      width: 40%; }
    header .containTopSvgs #rainbow {
      display: none; }
  #ourWedding .containWeddingIcons div {
    width: 55%;
    margin-bottom: 20px; }
    #ourWedding .containWeddingIcons div .containCopy p {
      font-size: 4.5vw; }
  .timeline::before {
    left: 15%; }
  .timeline .timeline-items .timeline-item.inverted, .timeline .timeline-items .timeline-item {
    left: 20.5%; }
  .timeline .timeline-items .timeline-item::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    border-radius: 100%;
    left: calc(-8.78% - 13px); }
  .timeline .timeline-items .timeline-item {
    width: 65%; }
  .timeline .timeline-items .timeline-item:nth-of-type(2n)::before {
    border-left: 1em solid #000032;
    border-left: 1em solid transparent; }
  .timeline .timeline-items .timeline-item.normal::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -1em;
    top: 0; }
  .timeline .timeline-item p, .timeline .timeline-item time {
    font-size: 3.5vw; }
  .timeline .timeline-items .timeline-item::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -1em;
    top: 0; }
    .timeline .timeline-items .timeline-item::before .containRsvp {
      justify-content: center; }
      .timeline .timeline-items .timeline-item::before .containRsvp .contain {
        width: 65%; }
      .timeline .timeline-items .timeline-item::before .containRsvp #firstPost {
        width: 65%; }
        .timeline .timeline-items .timeline-item::before .containRsvp #firstPost .cardInfo {
          font-size: 2.8vw; }
  .containTopNav a {
    font-size: 3.5vw;
    padding: 10px 10px; }
  .containRsvp {
    justify-content: center; }
    .containRsvp .btn {
      font-size: 3vw; }
    .containRsvp .contain {
      width: 85%; }
      .containRsvp .contain p, .containRsvp .contain input {
        font-size: 3vw; }
    .containRsvp #firstPost {
      width: 85%; }
      .containRsvp #firstPost p {
        font-size: 3vw; }
  .venue .copy .h4 {
    font-size: 6vw;
    margin: 2vw 0; }
  .venue .copy .p {
    font-size: 3.5vw; } }

@media (max-width: 450px) {
  #venueTitle, #containRegistry h2 {
    margin: 4vh 0; }
  .containHiddenNav {
    display: block; }
    .containHiddenNav h3 {
      color: #ffffcd; }
    .containHiddenNav .nav-wrapper {
      position: relative; }
      .containHiddenNav .nav-wrapper .brand-logo {
        position: absolute;
        top: 10px;
        color: #ffffcd; }
      .containHiddenNav .nav-wrapper .button-collapse {
        margin-top: -10px; }
      .containHiddenNav .nav-wrapper #mobile-demo {
        background-color: #000032; }
        .containHiddenNav .nav-wrapper #mobile-demo li {
          margin: 0 20px;
          border-bottom: 1px solid #dbb5b7; }
          .containHiddenNav .nav-wrapper #mobile-demo li a {
            font-size: 4vw;
            color: #ffffcd; }
  .containTopNav {
    display: none; }
  i {
    width: 200%; }
  header .containTopSvgs {
    margin-top: 150px;
    height: 200px; }
    header .containTopSvgs #bride, header .containTopSvgs #groom {
      width: 49%; }
    header .containTopSvgs #rainbow {
      display: none; }
  .timeline .timeline-item p, .timeline .timeline-item time {
    font-size: 4.5vw; }
  .timeline .timeline-items .timeline-item {
    width: 75%; }
  .venue .copy .h4 {
    font-size: 10vw;
    margin-top: 0px; }
  .venue .copy .p {
    font-size: 5vw; }
  #ourWedding .containWeddingIcons div {
    width: 85%;
    margin-bottom: 20px; }
    #ourWedding .containWeddingIcons div .containCopy p {
      font-size: 6vw; }
  .containRsvp .contain {
    width: 85%; }
    .containRsvp .contain p, .containRsvp .contain input {
      font-size: 4.5vw; }
  .containRsvp #firstPost {
    width: 85%; }
    .containRsvp #firstPost p {
      font-size: 4.5vw; }
    .containRsvp #firstPost #rsvpBottom {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0px; }
    .containRsvp #firstPost #rsvpTop {
      position: absolute;
      top: 10px;
      width: 100%;
      left: 0px; } }

@media (max-width: 350px) {
  #ourWedding .containWeddingIcons div .containCopy p {
    font-size: 7vw; }
  .containRsvp .btn {
    font-size: 5vw; }
  .containRsvp .contain p, .containRsvp .contain input {
    font-size: 5vw; }
  .containRsvp .contain #firstPost #rsvpBottom {
    position: absolute;
    bottom: 10px;
    width: 95%;
    margin-left: -10%; }
  .containRsvp .contain #firstPost #rsvpTop {
    position: absolute;
    top: 40px;
    width: 95%;
    margin-left: -10%; } }
