      
    <div class="title">
      <h3>Please join us for:</h3>
    </div>
    <div id = "infoFlex">
          <div class="card">
            <div class="card-image">
              <img src="images/cute.jpg">
              <span class="card-title">Wedding Ceremony</span>
            </div>
            <div class="card-content">
              <p>4:30pm</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
                    <div class="card">
            <div class="card-image">
              <img src="images/cuter.jpg">
              <span class="card-title">Ceremony</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
                    <div class="card">
            <div class="card-image">
              <img src="images/nola.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>

        </div>    